<!--<div>
    <h1>About</h1>
    <p>Making coding simple with teams. Collaborate in real time.</p>
</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 font-weight-light">Welcome to <span style="color: #ee5a5a">LetsCode</span> &#10687; <span style="color: #ee5a5a">Siya-Coder</span></h1>
    <p class="lead">Code, Collaborate, Learn &amp; Learn with teams anywhere and everywhere.</p>
    <p>Built by <a href="https://thubamamba.com" target="_blank">Thuba Mamba</a>, a Front-end Developer (turned Full-stack) &amp; UX/UI Designer born in Eswatini (formely Swaziland), currently based in Johannesburg, South Africa.
    Siya-Coder (meaning 'we code'), is meant to incrase productivity and drive inclusivity in the tech community by being a FREE platform for running tech teams, recruiting the best tech talent and even as far as assisting with code instructors/tutors. 
    </p>
  </div>
</div>
<div class="alert alert-warning" role="alert">
  More features coming soon. Keep a look-out.
</div>

<!--
<div class="container h-100">
    <div class="row h-50 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-light">Welcome to LetsCode &#10687; Siya-Coder</h1>
            <p class="lead">Code, Collaborate, Learn &amp; Learn with teams anywhere and everywhere.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Developer Interviews</h5>
                    <p class="card-text">Think about it, why use the traditional approach to recruiting teams? Change the narrative, use LetsCode to fast-track recruitment and onboarding.</p>
                    <a href="/register" class="btn btn-primary">Start Coding</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Project Delivering</h5>
                    <p class="card-text">Are you a Startup or a large organization, freely code with your team in real-time. Fix bugs, ship new features and be awesome.</p>
                    <a href="/register" class="btn btn-primary">Start Coding</a>
                </div>
            </div>
        </div>
        <!--<div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Personal Use</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>-->
    <!--</div>
</div>-->