<form class="form-signin" method="post">
    <h2 class="form-signin-heading text-center">Login To Your Account</h2>
    <br />

    <input type="email" name="email" class="form-control" placeholder="Your Email" required autofocus>
    <br />
    <input type="password" name="password" class="form-control" placeholder="Your Password" required>
    <br />
    <button type="submit" class="btn btn-lg btn-primary btn btn-block">Sign In</button>
    <br />
    <h4 class="text-center">OR</h4>
    <br />
    <a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Facebook Sign In</a>

</form>